{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@[a-z]*(/)*(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
